#root {
  /* max-width: 1280px;
  padding: 2rem; 
  text-align: center;
  margin: 0.5rem 1rem;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: rotate 10s infinite;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header-parent {
  /* border-bottom: solid 1px #0d1b2a; */
  background-color: #475569;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0 ;
}

.items:hover .submenulist {
  /* background-color: #1e2631; */
  display: block;
  animation: fadein 0.5s;
}

@keyframes fadein{
  from {transform: translateY(-3%);}
  to {transform: translateY(0);}
}

.submenulist {
  position: absolute;
  background: #1e2631;
  padding: 0px 0px;
  width: 150px;
  display: none;
  border-radius: 5px;
}

/* .signin{
  border: 1px solid ;
  border-bottom: 0;
  border-right: 0;
  position: relative;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius : 5px 5px 0 0;
}

.signin:active{

} */